<nav class="navbar navbar-default">
  <div class="container-fluid" style="width:80%;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        NoiseAlert
      </a>
    </div>
  </div>
</nav>
<div class="noise-alert-header">
  <div class="container-fluid" style="width: 80%;">
    <h1>NoiseAlert</h1>
    <p>NoiseAlert is a noise detection app.</p> 
    <p>By accessing your laptop's microphone it processes the audio around your surroundings and sends an alert to the phone number of your choosing if the noise level crosses a certain threshold.</p>
    <p>Try out the app by playing with the phone number and threshold below.</p>
  </div>
</div>
<div class="container-fluid" style="width: 80%;">
	<div id="visualizer-container"><div id="visualizer"></div></div>
	<div id="decibels-user-input"></div>
</div>