<form>
	<div>
	<label for="phone">Sending to <span class="green"><%- phone %></span></label>
    <input id="phone" type="text" name="phone" tabindex="1" placeholder="Send to Cell Phone Number" name="user-input[phone]">
    <label for="threshold">Threshold is at <span class="green"><%- threshold %></span></label>
    <input id="threshold" type="text" name="threshold" tabindex="2" placeholder="Set Threshold (0-1)" name="user-input[threshold]">
    <button type="submit" tabindex="3" class="sendBtn submitBtn">Submit</button>
    <button id="stop" type="button" class="sendBtn">Stop time</button>
	</div>
</form>

<table class="info">
    <thead>
        <tr>
            <th>    
                <h4>Top 3 noisest times</h4>
            </th>
        </tr>
    </thead>
    <tbody>
    	<% if(highest.length != 0) { %> 
			<% $(highest).each(function(index, num) { %>
				<tr>
					<td>
						<h4>Lots of noise! -> <%= String(num) %></h4>
					</td>
				</tr>
			<% }) %>
		<% } %>
        <tr>
            <td>
                <a href="#">View more</a>
            </td>
        </tr>
    </tbody>
</table>