<form>
	<div>
    <input id="phone" type="text" name="phone" tabindex="1" placeholder="Send to Cell Phone Number" name="user-input[phone]">
    <input id="threshold" type="text" name="threshold" tabindex="2" placeholder="Set Threshold (0-1)" name="user-input[threshold]">
    <button type="submit" tabindex="3" class="sendBtn submitBtn">Submit</button>
    <button id="stop" type="button" class="sendBtn">Stop time</button>
	</div>
</form>


<div class="panel-body info">
	<div class="panel-heading">
		<h3 class="panel-title">The top 3 highest output time periods are the following:</h3>
	</div>
	<div >
		<ul>
			<% if(highest.length != 0) { %> 
				<% $(highest).each(function(index, num) { %>
					<li><%= String(num) %></li>
				<% }) %>
			<% } %>
		</ul>	
	</div>
</div>