<form>
    <input id="phone" type="text" name="phone" tabindex="1" placeholder="Send to Cell Phone Number" name="user-input[phone]">
    <input id="threshold" type="text" name="threshold" tabindex="2" placeholder="Set Threshold" name="user-input[threshold]">
    <button type="submit" tabindex="3" class="submitBtn">Submit</button>
</form>