// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    input {
        width: 91%;
        padding: 12px;
        border-radius: 1px;
        background: #fff;
        margin: 0 0 25px 0px;
        border: 1px solid #DEDEDE;
        font-family: helvetica, arial, sans-serif;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
    }
    .submitBtn {
        color: #fff;
        font-family: lato, helvetica, arial, sans-serif;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        background: #4dbdbd;
        border-radius: 60px;
        width: 91%;
        height: 46px;
        display: inline-block;
        line-height: 46px;
        font-weight: 500;
        border: none;
        box-shadow: none;
        padding: 0;
        text-transform: uppercase;
    }
}